*{
    
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #4a5568;
    scroll-behavior: smooth;
}

body{
    padding-top: 2.5rem;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 3rem;
    background: #fff;
    border-bottom: 1px solid #edf2f7;
    z-index: 100;
}

section{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

hr {
    position: fixed;
    top: 60%;
    left: 0;
    right: 0;
    height: 1px;
    background: red;
    width: 100%;
}